*{
	padding: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}* 
body { 
	font: .75em "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	line-height: 1.6em;
	background: url('../img/bg-body.jpg');
	color: #fff; 
}
.imgl {
	float: left;
	margin-bottom: 10px;
}


a {	color: #E60000;	background: inherit; text-decoration: none; }
td {
	padding: 4px;
}

a:hover { color: #AA0001; background: inherit; text-decoration: underline; }
p {
	margin: 0 0 15px 0;
	color: #333;
}
h1 {
	text-align:center;
	color: #F00;
	text-align: center;
	margin-top: 20px;
}
.clr {
	clear: inherit;
}

h1 a { background: inherit; }
img { border: 0; }
h2 {
	text-align:center;
	font: normal 1.6em "Trebuchet MS", Arial, Sans-Serif;
	color: #090;
	margin-bottom: 12px;
}
h3 a { font-size: 1em; }
#main h3 a { font-size: .84em; color: #808080; font-weight: normal; text-transform: uppercase; }
h5 {
	text-align:center;
	margin: 0 0 12px;
	color: #006;
	font-family: "Trebuchet MS", Arial, Sans-Serif;
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
h6 {
	text-align:center;
	margin: 0 0 12px;
	color: #F00;
	font-family: "Trebuchet MS", Arial, Sans-Serif;
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}

#content {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #03F;
	overflow: auto;
	visibility: inherit;
}

#top{ float: right; text-align: right;  }
#top a { color: #808080; margin: 0 0 0 13px; background: #fff url(images/toparrow.png) no-repeat center left; padding: 0 0 0 12px; }
input.searchfield { width: 175px; padding: 6px; border: 2px solid #ccc; font-size: .9em; }
input.searchbutton { background: #E60000; border: 0; padding: 6px; color: #fff; font-weight: bold; font-size: .9em; }


#logo {
	float: left;
	color: #808080;
	line-height: 25px;
	background-image:url(images/ubs-logo.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left:70px;
}
#logo p {
	text-indent: 100px;
		
}
#menu { height: 35px; padding: 7px 0 0 0; clear: both;  margin: 0 0 18px; background: #fff url(images/menubg.gif) repeat-x; }
	#menu li { font-size: 1.1em; display: inline; text-transform: uppercase; }
	#menu li a { margin: 0 25px 0 10px; color: #808080;  }
	#menu li a:hover { color: #444; }

#left {
	clear: left;
	float: left;
	width: 250px;
	padding: 10px 15px;
	margin: 0 0 20px;
}
	#left img { margin: 0 0 8px; }
.form-table  {
	border: thin solid #FC3;
}

	#left li { list-style: none; }
	#left li a {  color: #787A8F; font-weight: bold; background: url(images/arrow.gif) no-repeat center left; padding: 0 0 0 12px; }


#left_home {
	clear: left;
	float: left;
	width: 230px;
	padding: 0px;
	margin: 0 0 20px;

}
#left_mission {
	clear: left;
	float: left;
	padding: 0px;
	margin: 0 0 20px;
	}
	#left_home img {
	border: thin solid #ecedeb;
}
	#left_home li { list-style: none; }
	#left_home li a {  color: #787A8F; font-weight: bold; background: url(images/arrow.gif) no-repeat center left; padding: 0 0 0 12px; }

#main_home {
	float: left;
	width: 678px;
	margin: 8 0 5px;
	height: 270px;
}
#shortnews img {
	float: left;
	border: 1px solid #003;
	margin: 4px;
}



#main {
	float: left;
	width: 655px;
	margin: 8 0 20px;
	height: 300px;
}
	#main img { float: left; border: 3px solid #eee; padding: 1px; margin: 0 15px 5px 0; }
	#line {
	clear: both;
	padding: 3px;
	margin: 0 0 5px;
	background: #fff url(images/smalldot.gif) repeat-x;
}
	#ad { float: right; text-align: center; padding: 33px 0 0; width: 250px; border: 3px solid #eee; color: #ccc; height: 50px; margin: 0 0 15px; }
	#shortnews {
	float: right;
	width: 250px;
	padding-left: 4px;
}
	.news { border-bottom: 1px solid #eee; padding: 0 0 2px; margin: 0 0 10px;}
	
#right {
	margin: 0 0 20px;
	padding: 0 10px 0 15px;
	width: 660px;
	text-align: justify;
	clear: none;
	border-right: 1px dashed #999;
}

#gallery {
	margin: 0 15px 20px 0;
	padding: 0 5 0 5px;
	float: left;
	width: 678px;
	text-align: justify;
}
.border {
	clear: both;
	border-left: 4px solid #ccc;
	padding: 0 0 0 10px;
	margin-left: 5px;
}

#rl {
	float: left;
	width: 290px;
	margin: 0 20px 30px 30px;
}

#rr {
	width: 290px;
	margin: 0 20px 30px 0;
}
	#rl li, #rr li { list-style: none; border-bottom: 1px solid #eee; padding: 4px; margin: 0; }
	#rl li a, #rr li a { background: #fff url(images/arrow.gif) no-repeat center left; padding: 0 0 0 12px; color: #808080;  }

#footer {
	clear: both;
	padding: 10px;
	font-size: .9em;
	color: #808080;
	background: #eee;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}
	.links a { font-weight: bold; color: #787A8F; background: #fff; margin: 0 10px 0 0; background: url(images/dot.png) no-repeat center left; padding: 0 0 0 10px; }
	.sponsor { color: red; background: #eee; }
	#footer li { list-style: none; }
	#fl { width: 600px; }
	#fr { float: right; }#content .clearnav {
	clear: both;
	margin-bottom: 20px;
	border-top-width: thin;
	border-top-style: dashed;
	border-top-color: #CCC;
	height: 31px;
	border-bottom-width: medium;
	border-bottom-style: groove;
	border-bottom-color: #123d03;
}

blockquote {
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	color: #666;
	margin: 10px 20px;
	display: block;
}

blockquote span.open {
	background: url(images/quote_open.gif) no-repeat left top;
	padding: 0 0 0 15px;
}

blockquote span.close {
	background: url(images/quote_close.gif) no-repeat bottom right;
	padding: 0 15px 0 0;
}

#rl h1 {
	font-weight: bold;
	font-size: 1.9em;
	color: #F00;
	margin-top: 0px;
}
#rr h1 {
	font-weight: bold;
	font-size: 1.9em;
	color: #F00;
	margin-top: 0px;
}
#long_txt {
	float: left;
	width: 400px;
	margin-left: 0px;
	padding-left: 5px;
}
#long_txt h1 {
	font-weight: bold;
	font-size: 1.9em;
	color: #F00;
	margin-top: 0px;
	padding-bottom: 5px;
}
#long_txt_pix {
	float: left;
	width: 650px;
	margin-left: 10px;
	padding-left: 5px;
}
#long_txt_pix h1 {
	font-weight: bold;
	font-size: 1.9em;
	color: #F00;
	margin-top: 0px;
	padding-bottom: 5px;
}
#long_txt ul li{
	padding-left:15px;
	margin-left:12px;
	border-left:solid thin #CCC;
	list-style-image: url(animated_favicon1.gif);
	list-style-type: none;
	padding-bottom: 5px;
}
img {
	float: left;
	margin: 5px 8px 5px 2px;
	border: 1px solid #CCC;
}
.secondheading {
	font-size: 0.8em;
	font-weight: bolder;
	color: #093;
}
#wrapper {
	width: 940px;
}
#profile {
	width: 280px;
	border: thin solid #003;
	float: left;
	margin-left: 10px;
	overflow: inherit;
	margin-bottom: 10px;
}
#form {
	margin-left: 30px;
}
#form form table {
	margin-top: 10px;
	border: thin solid #006;
	color: #006;
	font-weight: bolder;
	padding: 5px;
}
#form form table td {
	padding: 4px;
}
.input {
	color: #333;
	background-color: #FF9;
	border: thin solid #999;
	width: 130px;
	height: 25px;
}
.row1 {
	background-color: #FC6;
}
.row2 {
	background-color: #FFC;
}
#content #right #long_txt .border ul {
	margin-left: 10px;
}
.txt {
	color: #333;
	background-color: #FC9;
	width: 200px;
}
.warning {
	font-weight: bold;
	color: #F00;
	text-align: center;
}
.success {
	font-weight: bold;
	color: #0F0;
}
.BIGFONT {
	font-size: 15px;
	font-weight: bold;
	color: #003;
}
.hlite {
	background-color: #FC9;
	border-collapse:collapse;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #FC3;	
}
#content #right #long_txt_pix #parent_data table {
	border: thin solid #FC6;
}
#id {
	font-weight: bolder;
	font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
}
#shortnews h3 {
	font-family: Verdana, Geneva, sans-serif;
	color: #F00;
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #333;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#shortnews h2 {
	font-family: Verdana, Geneva, sans-serif;
	color: #F00;
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #333;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-left-style: solid;
	border-left-color: #006;
	border-left-width: thin;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #036;
	font-size: 14px;

}
#report {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
#content #report h1 {
	font-size: 28px;
	color: #F00;
	font-family: Georgia, "Times New Roman", Times, serif;
	word-spacing: 2pt;
	letter-spacing: 2pt;
	text-align: center;
	clear: both;
	margin-top: 2px;
	margin-bottom: 9px;
}

#print {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

#full_width {
	width: 98%;
}

hr {
	color: #36F;
	background-color: #FC0;
}
#content #report #form table tr td img {
	float: left;
}
.grade {
	border: thin solid #999;
}
.result {
	border: thin solid #06F;
}
.result tr {
	border: thin solid #06C;
}
#content #report #form table tr td table tr td {
	border: thin solid #000;
}
.img_result {
	float: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.comment {
	color: #000;
	font-weight: bold;
	font-size: 11px;
}
.result_holder {
	border: 1px solid #666;
}

.teach {
	margin-right: 2px;
	margin-bottom: 20px;
	padding-right: 2px;
	padding-bottom: 20px;
}

.fail {
	color: #F00;
}
.subject {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.form_center {
	margin-right: auto;
	margin-left: auto;
	width: 350px;
}

.box1 {
	width: 285px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	overflow: inherit;
	color:#FFF;
}
#event {
	float: left;
	width: 590px;
}
.box2 {
	width: 290px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.clrCopy {
	clear: both;
}
